body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lilita-one: "Lilita One";
  --font-inter: Inter;
  --font-poppins: Poppins;
  --row-secondary-text: "Source Sans Pro";
  --font-roboto: Roboto;
  --font-jaldi: Jaldi;
  --body-2-normal: Nunito;
  --font-inika: Inika;
  --font-istok-web: "Istok Web";
  --font-markazi-text: "Markazi Text";
  --font-lato: Lato;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --heading-4-size: 20px;
  --header-primary-size: 16px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --row-primary-text-size: 14px;
  --row-secondary-text-size: 13px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-4xl: 23px;
  --font-size-11xl: 30px;
  --font-size-mini: 15px;
  --font-size-31xl: 50px;
  --heading-7-size: 12px;
  --font-size-19xl: 38px;
  --font-size-17xl: 36px;
  --font-size-16xl: 35px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;

  /* Colors */
  --color-lightsteelblue: #c3d0ff;
  --color-white: #fff;
  --color-black: #000;
  --paper-background: #fffffe;
  --color-gray-1200: #fffefe;
  --color-gray-500: #909090;
  --neutral-70: #837a88;
  --color-gray-600: #757575;
  --color-gray-100: #272833;
  --grey-90: #262626;
  --relia-energy-black: #272525;
  --neutral-100: #20102b;
  --color-gray-700: #131313;
  --color-gray-900: #0f1705;
  --color-gray-200: rgba(0, 0, 0, 0.3);
  --color-gray-1000: rgba(36, 35, 35, 0.97);
  --color-gray-1100: rgba(150, 130, 130, 0.97);
  --color-gray-800: rgba(0, 0, 0, 0.68);
  --color-gray-300: rgba(0, 0, 0, 0.73);
  --color-gray-400: rgba(0, 0, 0, 0.85);
  --color-silver-400: #bfbfbf;
  --color-silver-100: #bcbcbc;
  --color-silver-200: #bababa;
  --color-silver-300: rgba(192, 186, 186, 0.97);
  --color-plum: #ccbfff;
  --color-plum-100: #a096c8;
  --color-tomato: #ff3636;
  --color-cornflowerblue-100: #91a1f4;
  --color-cornflowerblue-300: #7fa1f8;
  --color-cornflowerblue-400: #7b87ed;
  --relia-energy-primary-color: #5584ce;
  --color-cornflowerblue-200: rgba(85, 132, 206, 0);
  --color-gainsboro-700: #ece7e7;
  --color-gainsboro-100: #e7e7ed;
  --color-gainsboro-200: #e6e6e6;
  --neutral-10: #e2e2e2;
  --gray-5: #e0e0e0;
  --grey-30: #ddd;
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-400: rgba(217, 217, 217, 0);
  --color-gainsboro-500: rgba(217, 217, 217, 0.45);
  --color-gainsboro-600: rgba(217, 217, 217, 0.5);
  --color-mediumslateblue-100: #8f57eb;
  --color-mediumslateblue: #3656ff;
  --color-mediumslateblue-200: rgba(143, 87, 235, 0.09);
  --color-lightgray-100: #d4cfcf;
  --grey-40: #d0d0d0;
  --grey-dark: #495d69;
  --gray-1: #333;
  --color-dimgray-100: #737373;
  --color-dimgray-600: #537775;
  --color-dimgray-800: #775c5c;
  --color-dimgray-900: #5b5555;
  --grey-70: #515151;
  --color-dimgray-700: rgba(83, 119, 117, 0.51);
  --color-dimgray-300: rgba(87, 87, 87, 0.97);
  --color-dimgray-400: rgba(124, 105, 105, 0.97);
  --color-dimgray-500: rgba(124, 105, 105, 0.75);
  --color-dimgray-200: rgba(106, 101, 98, 0.83);
  --color-red-100: #ed2224;
  --color-red-400: #f80f0f;
  --color-red-500: #fd0808;
  --color-red-200: #ff0000;
  --color-red-300: rgba(237, 34, 36, 0.86);
  --color-mediumblue: #0a31ff;
  --color-royalblue-300: #616ed4;
  --color-royalblue: #5b66cc;
  --color-royalblue-100: #2670de;
  --color-royalblue-200: #004ab8;
  --color-gold-100: #f6c825;
  --accent-green: #10a142;
  --color-sandybrown: #eeb45c;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke: #edf0f2;
  --color-whitesmoke-100: rgba(235, 233, 233, 0.7);
  --primary-shades-10: #f2f7ff;
  --grey-light: #e8eff3;
  --color-aliceblue-100: rgba(242, 247, 255, 0);
  --neutral-60: #9b959f;
  --color-firebrick-100: #cf3838;
  --color-firebrick: #b80000;
  --color-crimson: #de2626;
  --color-lavender: #dee1ff;
  --color-darkslateblue-300: #574798;
  --color-darkslateblue-100: #454773;
  --color-darkslateblue-200: #111540;
  --color-darkorchid: #6930c3;
  --color-darkviolet: #7400b8;
  --color-paleturquoise: #94fcf6;
  --color-yellowgreen-100: #a6d04d;
  --color-lawngreen: #70ea25;
  --color-chocolate: #d16529;
  --color-darkkhaki-100: #c6b477;
  --color-darkkhaki-200: #cfb266;
  --color-darkred: #9b0404;
  --color-lightblue: #a4d0de;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-56xl: 75px;
  --gap-lgi: 19px;
  --gap-18xl: 37px;
  --gap-120xl: 139px;
  --gap-50xl: 69px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-4xs: 9px;
  --gap-2xl: 21px;
  --gap-86xl: 105px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-42xl: 61px;
  --gap-71xl: 90px;
  --gap-37xl-5: 56.5px;
  --gap-54xl: 73px;
  --gap-sm: 14px;
  --gap-84xl: 103px;
  --gap-37xl: 56px;
  --gap-5xs: 8px;
  --gap-4xl: 23px;
  --gap-5xl-6: 24.6px;
  --gap-205xl: 224px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-58xl: 77px;
  --gap-19xl: 38px;
  --gap-smi: 13px;
  --gap-45xl: 64px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-22xl: 41px;
  --gap-59xl: 78px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-55xl: 74px;
  --gap-44xl: 63px;
  --gap-base: 16px;
  --gap-4xs-3: 8.3px;
  --gap-116xl: 135px;
  --gap-125xl: 144px;
  --gap-xs: 12px;
  --gap-32xl: 51px;
  --gap-33xl: 52px;
  --gap-9xs: 4px;
  --gap-lg-6: 18.6px;
  --gap-70xl: 89px;
  --gap-3xl: 22px;
  --gap-27xl: 46px;
  --gap-15xl: 34px;
  --gap-8xs: 5px;
  --gap-51xl: 70px;
  --gap-65xl: 84px;
  --gap-23xl: 42px;
  --gap-2xs: 11px;
  --gap-11xs: 2px;
  --gap-14xl: 33px;
  --gap-11xl: 30px;
  --gap-49xl: 68px;
  --gap-mini-1: 14.1px;
  --gap-xs-5: 11.5px;
  --gap-20xl: 39px;
  --gap-83xl: 102px;
  --gap-10xl: 29px;
  --gap-mini-9: 14.9px;
  --gap-3xs-9: 9.9px;
  --gap-174xl: 193px;
  --gap-41xl: 60px;
  --gap-13xl: 32px;
  --gap-11xs-9: 1.9px;
  --gap-6xs: 7px;
  --gap-206xl: 225px;
  --gap-52xl: 71px;
  --gap-72xl: 91px;
  --gap-26xl: 45px;
  --gap-29xl: 48px;
  --gap-91xl: 110px;
  --gap-57xl: 76px;
  --gap-39xl: 58px;
  --gap-25xl: 44px;
  --gap-35xl: 54px;
  --gap-28xl: 47px;
  --gap-12xs: 1px;
  --gap-132xl: 151px;
  --gap-39xl-1: 58.1px;
  --gap-10xs: 3px;
  --gap-167xl: 186px;
  --gap-74xl: 93px;
  --gap-40xl: 59px;
  --gap-47xl: 66px;
  --gap-515xl: 534px;
  --gap-490xl: 509px;
  --gap-283xl: 302px;
  --gap-482xl: 501px;
  --gap-36xl-9: 55.9px;
  --gap-11xl-3: 30.3px;
  --gap-184xl-1: 203.1px;
  --gap-38xl: 57px;
  --gap-mid-1: 17.1px;
  --gap-23xl-5: 42.5px;
  --gap-27xl-5: 46.5px;
  --gap-13xl-5: 32.5px;
  --gap-36xl-7: 55.7px;
  --gap-16xl-7: 35.7px;
  --gap-17xl-8: 36.8px;

  /* Paddings */
  --padding-42xl: 61px;
  --padding-59xl: 78px;
  --padding-55xl: 74px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-18xl: 37px;
  --padding-lgi: 19px;
  --padding-mid: 17px;
  --padding-5xl: 24px;
  --padding-20xl: 39px;
  --padding-25xl: 44px;
  --padding-xl: 20px;
  --padding-22xl: 41px;
  --padding-4xs: 9px;
  --padding-32xl: 51px;
  --padding-6xl: 25px;
  --padding-15xl: 34px;
  --padding-11xs: 2px;
  --padding-13xl: 32px;
  --padding-43xl: 62px;
  --padding-21xl: 40px;
  --padding-sm: 14px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-23xl: 42px;
  --padding-2xl: 21px;
  --padding-4xl-5: 23.5px;
  --padding-154xl: 173px;
  --padding-67xl: 86px;
  --padding-24xl: 43px;
  --padding-9xs: 4px;
  --padding-12xs: 1px;
  --padding-16xl: 35px;
  --padding-10xs: 3px;
  --padding-7xl: 26px;
  --padding-239xl: 258px;
  --padding-87xl: 106px;
  --padding-46xl: 65px;
  --padding-36xl: 55px;
  --padding-50xl: 69px;
  --padding-17xl: 36px;
  --padding-33xl: 52px;
  --padding-34xl: 53px;
  --padding-52xl: 71px;
  --padding-53xl: 72px;
  --padding-107xl: 126px;
  --padding-26xl: 45px;
  --padding-45xl: 64px;
  --padding-12xl: 31px;
  --padding-31xl: 50px;
  --padding-212xl: 231px;
  --padding-82xl: 101px;
  --padding-156xl: 175px;
  --padding-xs: 12px;
  --padding-9xl: 28px;
  --padding-186xl: 205px;
  --padding-83xl: 102px;
  --padding-44xl: 63px;
  --padding-276xl: 295px;
  --padding-196xl: 215px;
  --padding-121xl: 140px;
  --padding-3xl: 22px;
  --padding-30xl: 49px;
  --padding-175xl: 194px;
  --padding-56xl: 75px;
  --padding-297xl: 316px;
  --padding-68xl: 87px;
  --padding-base: 16px;
  --padding-35xl: 54px;
  --padding-29xl: 48px;
  --padding-5xs: 8px;
  --padding-2xl-5: 21.5px;
  --padding-48xl: 67px;
  --padding-164xl: 183px;
  --padding-4xl: 23px;
  --padding-100xl: 119px;
  --padding-3xs: 10px;
  --padding-37xl: 56px;
  --padding-165xl: 184px;
  --padding-2xl-3: 21.3px;
  --padding-73xl: 92px;
  --padding-19xl: 38px;
  --padding-lg: 18px;
  --padding-39xl: 58px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-2xs: 11px;
  --padding-281xl: 300px;
  --padding-217xl: 236px;
  --padding-134xl: 153px;
  --padding-8xl: 27px;
  --padding-8xs: 5px;
  --padding-142xl: 161px;
  --padding-86xl: 105px;
  --padding-80xl: 99px;
  --padding-27xl: 46px;
  --padding-28xl: 47px;
  --padding-54xl: 73px;
  --padding-51xl: 70px;
  --padding-smi: 13px;
  --padding-216xl: 235px;
  --padding-41xl: 60px;
  --padding-lg-6: 18.6px;
  --padding-136xl: 155px;
  --padding-112xl: 131px;
  --padding-10xl: 29px;
  --padding-lg-5: 18.5px;
  --padding-sm-2: 13.2px;
  --padding-smi-8: 12.8px;
  --padding-6xs-9: 6.9px;
  --padding-661xl: 680px;
  --padding-268xl: 287px;
  --padding-423xl: 442px;
  --padding-8xs-5: 4.5px;
  --padding-292xl: 311px;
  --padding-602xl: 621px;
  --padding-385xl: 404px;
  --padding-244xl: 263px;
  --padding-38xl: 57px;
  --padding-551xl-9: 570.9px;
  --padding-352xl: 371px;
  --padding-222xl: 241px;
  --padding-6xs-1: 6.1px;
  --padding-8xl-1: 27.1px;
  --padding-49xl: 68px;
  --padding-5xs-5: 7.5px;
  --padding-183xl: 202px;
  --padding-63xl: 82px;
  --padding-118xl: 137px;
  --padding-172xl: 191px;
  --padding-1568xl: 1587px;
  --padding-774xl: 793px;
  --padding-377xl: 396px;
  --padding-187xl: 206px;
  --padding-197xl: 216px;
  --padding-89xl: 108px;
  --padding-1434xl: 1453px;
  --padding-707xl: 726px;
  --padding-344xl: 363px;
  --padding-145xl: 164px;
  --padding-140xl: 159px;
  --padding-84xl: 103px;
  --padding-114xl: 133px;
  --padding-115xl: 134px;
  --padding-113xl: 132px;
  --padding-195xl: 214px;
  --padding-138xl: 157px;
  --padding-139xl: 158px;
  --padding-1491xl: 1510px;
  --padding-736xl: 755px;
  --padding-358xl: 377px;
  --padding-228xl: 247px;
  --padding-111xl: 130px;
  --padding-60xl: 79px;
  --padding-12xs-1: 0.1px;
  --padding-66xl: 85px;
  --padding-117xl: 136px;
  --padding-177xl: 196px;
  --padding-71xl: 90px;
  --padding-57xl: 76px;
  --padding-78xl: 97px;
  --padding-40xl: 59px;
  --padding-65xl: 84px;
  --padding-146xl: 165px;
  --padding-88xl: 107px;
  --padding-25xl-7: 44.7px;
  --padding-8xl-7: 27.7px;
  --padding-174xl: 193px;
  --padding-58xl: 77px;
  --padding-5xl-8: 24.8px;
  --padding-61xl: 80px;
  --padding-64xl: 83px;
  --padding-62xl: 81px;
  --padding-95xl: 114px;
  --padding-97xl: 116px;
  --padding-291xl: 310px;
  --padding-182xl: 201px;
  --padding-32xl-3: 51.3px;
  --padding-90xl: 109px;
  --padding-19xl-5: 38.5px;
  --padding-17xl-6: 36.6px;
  --padding-xs-9: 11.9px;
  --padding-104xl: 123px;
  --padding-10xs-4: 2.4px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-mid-5: 17.5px;
  --br-7xs: 6px;
  --br-10xs: 3px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-11xs: 2px;
  --br-mid: 17px;
  --br-base-8: 15.8px;
  --br-11xl: 30px;
  --br-8xs: 5px;
  --br-31xl: 50px;
  --br-6xl: 25px;
  --br-81xl: 100px;
  --br-mini: 15px;
}
